/** @format */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	margin-bottom: 3rem;
}

.content {
	padding: 3rem 6rem;
}

.actions {
	width: 12rem;
	padding-left: 1rem;
}
.actions button {
	margin: 0 0.5rem;
}
